[mongodb_cloud]
user = ruohan_11
pw = zhangruohan0406
connection = mongodb://{user}:{pw}@cluster0-shard-00-00-qzy3z.mongodb.net:27017,cluster0-shard-00-01-qzy3z.mongodb.net:27017,cluster0-shard-00-02-qzy3z.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true
[redis_cloud]
host = redis-13720.c8.us-east-1-2.ec2.cloud.redislabs.com
port = 13720
pw = 1sqkBBwmrp3iPQt1mnzvjiq1Yio98F1c

[neo4j_cloud]
user = neodb-demo-from-rh
pw = b.WmFZ1qZQekIC.P1TzzJivsp6V6QhH
